<div class="month-picker-wrapper">
<div #inputTextBox>
    <ng-content></ng-content>
</div>
  <div>
    <div class="month-picker" #calendar>
        <div class="month-picker-header" *ngIf="!isShowYears">
            <a class="left" (click)="decrementYear()"></a>
            <a class="title" (click)="toggleShowYears()">{{model.selectedYearText}}</a>
            <a class="right" (click)="incrementYear()"></a>
        </div>
        <div class="month-picker-header" *ngIf="isShowYears">
            <a class="left" (click)="decrementYearRanges()"
            [ngClass]="{'is-disabled':yearStartIndex === 0}"></a>
            <a class="title" (click)="toggleShowYears()">
                <span *ngIf="years[0] === years[years.length-1]">{{years[0]}}</span>
                <span *ngIf="years[0] !== years[years.length-1]">{{years[0]}}-{{years[years.length-1]}}</span>
            </a>
            <a class="right" (click)="incrementYearRanges()"
            [ngClass]="{'is-disabled':yearEndIndex === yearRanges.length}"></a>
        </div>
        <div class="month-picker-content">
            <div class="month-block" *ngIf="!isShowYears">
                <a class="month-content" *ngFor="let month of model.months; let i = index" (click)="selectMonth(i)"
                [ngClass]="{'is-selected': isSelectedMonth(i),'is-disabled':isDisabled(i)}"> 
                    {{month}}
                </a>
            </div>
            <div class="year-block" *ngIf="isShowYears">
                <a class="year-content" *ngFor="let year of years; let i = index" (click)="selectYear(year)"
                [ngClass]="{'is-selected': isSelectedYear(year),'is-disabled':isDisabledYear(year)}"> 
                    {{year}}
                </a>
            </div>
        </div>
        <div class="month-picker-footer">Please click on Month/Year to show respective navigation view</div>
    </div>
  </div>
</div>
